rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /users/{userId} {
      allow read, create, update: if request.auth != null && request.auth.uid == userId;
      allow delete: if false;
    }

    match /blogs/{blogId} {
      allow read: if request.auth != null;
      allow create: if request.auth != null &&
          request.resource.data.keys().hasAll([
            'title',
            'domainLink',
            'uploadedAt',
            'uploadedBy',
            'location',
            'tags'
          ]) &&
          request.resource.data.uploadedBy == request.auth.uid;
      allow update, delete: if request.auth != null &&
          resource.data.uploadedBy == request.auth.uid;
    }
  }
}
